
body {
    font-family: 'Poppins', sans-serif;
    background-color: #1f1f1f;
    color: rgba(255, 255, 255, 0.7);
}

a{
    all: unset;
    cursor: pointer;
}

.title{
    color: rgb(57, 148, 57);
}

#squadra img, #rosa img, #palmares img{
    width: 40%;
    border-radius: 10px;
    box-shadow: 2px 2px 15px 4px rgba(0,0,0,0.75);
}


#squadra, #rosa, #palmares, #rosa > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


table {
    border-radius: 10px;
    width: 60vw;
    height: 30vh;
    font-size: 1.3rem;
}

table tr td {
    min-width: 80px;
    text-align: center;
}

table th{
    color: rgb(57, 148, 57);
}
