:root {
    --BG-COLOR: #030712;
    --TEXT-COLOR: white;
    --ACCENT-COLOR: #735BD9;
    --ACCENT-COLOR-2: #515A69;
}
body {
    overflow-x: hidden;
}

.primary-bg {
    background-color: var(--BG-COLOR);
}

.accent {
    color: var(--ACCENT-COLOR);
}

.btn {
    background-color: var(--ACCENT-COLOR) !important;
    color: var(--TEXT-COLOR) !important;
    border: none;
}

a {
    color: var(--TEXT-COLOR) !important;
}

.navbar {
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.9) !important;
    height: 80px !important;
}

.home-height {
    height: calc(100vh - 80px);
}

.gap-10 {
    gap: 6rem;
}

.mb-10 {
    margin-bottom: 6rem;
}