@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap');

body {
    margin: 0;
}

h1,
p {
    padding: 8px 0;
    margin: 0;
}

h1 {
    font-family: 'PT Sans';
    font-style: italic;
}


.container {
    border: 2px solid black;
    width: 70vw;
    margin: 50px auto 0 auto;
}

.container>header {
    padding: 10px 0;
    background-color: black;
    color: white;
    text-align: center;
}



.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards>.card {
    flex: auto;
    border: 1px solid black;
}

.cards>.card>img {
    width: 100%;
    opacity: 1;
    transition: all 0.3s;
    height: 80%;
}

.cards>.card>img:hover {
    filter: brightness(0.8);
    border-radius: 30px;
    transition: all 0.3s;
}


.card p {
    margin-top: 10px;
    background-color: rgba(0, 255, 255, 0.308);
    text-align: center;
    padding: 10px 0;
    font-style: italic;
}

@media screen and (max-width: 900px) {
    .cards {
        flex-direction: column;
    }
}