@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap');

body {
    margin: 0;
}

h1,
p {
    padding: 8px 0;
    margin: 0;
}

h1 {
    font-family: 'PT Sans';
    font-style: italic;
}

.aspect-1 {
    aspect-ratio: 1;
}


.container {
    border: 2px solid black;
    width: 70vw;
    margin: 50px auto 0 auto;
}

.container>header {
    padding: 10px 0;
    background-color: black;
    color: white;
    text-align: center;
}

.container>header a {
    text-decoration: none;
    color: white;
}



.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards>.card {
    flex: auto;
    border: 1px solid black;
}

.cards>.card img {
    width: 100%;
    opacity: 1;
    transition: all 0.3s;
    height: 80%;
}

.cards>.card img:hover {
    filter: brightness(0.8);
    border-radius: 30px;
    transition: all 0.3s;
}


.card p {
    margin-top: 10px;
    background-color: rgba(0, 255, 255, 0.308);
    text-align: center;
    padding: 10px 0;
    font-style: italic;
}


.shoes {
    margin-top: 20px;
    text-align: center;
}

.shoes>main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.shoes>main>div>img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.shoes>main>div {
    box-sizing: border-box;
    flex-basis: 25%;
    flex-grow: 1;
    border: 2px solid black;
}

.shoes>main>div>p {
    background-color: blue;
    color: white;
    max-width: 80%;
    margin: 10px auto 10px auto;
}

.shoes>main>div>span {
    color: red;
    display: inline-block;
    padding: 10px 0;
}

.shoes>main>div>table {
    margin: 0 auto;
    border-collapse: collapse;
}

.shoe-table,
.shoe-table th,
.shoe-table tr,
.shoe-table td {
    border: 1px solid black;
}


.back {
    padding: 10px 0;
    margin-bottom: 10px;
    text-decoration: none;
    display: inline-block;
    background-color: rgba(0, 255, 255, 0.308);
    color: blueviolet;
    width: 50vw;

}


@media screen and (max-width: 900px) {
    .cards {
        flex-direction: column;
    }
}

@media (max-width: 550px) {
    .shoes>main>div {
        flex-basis: 50%;
    }


    .shoes>main>div>table {
        display: none;
    }
}