/* THEME */
:root {
    --primary: white;
    --text: black;
    --text-accent: orange;
}

.theme-wrapper {
    position: fixed;
    top: 20px;
    right: 40px;
    display: flex;
    align-items: center;
}

#theme {
    display: none;
}

.theme-wrapper i {
    font-size: 1.4rem;
    display: none;
}

.theme-wrapper label div {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

#theme:checked+label .sun i {
    display: block;
}

#theme:checked+label .sun::after {
    content: ' Light';
}

:not(#theme:checked)+label .moon i {
    display: block;
}

:not(#theme:checked)+label .moon::after {
    content: ' Dark';
}

:root:has(#theme:checked) {
    --primary: rgb(0, 0, 66);
    --text: white;
    --text-accent: yellow;
}

/* END THEME */


/* utility classes */
.accent {
    color: var(--text-accent);
}

.important {
    font-size: 1.4rem;
    font-weight: bold;
}

/* end utility classes */

body {
    margin: 0;
    background-color: var(--primary);
    color: var(--text);
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

table {
    border-collapse: collapse;
}

.container {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--text);
    margin: 0 auto;
    margin-top: 2rem;
}

.container .item {
    padding: 0 10px;
    border: 1px solid var(--text);
    border-bottom: none;
    border-left: none;
    width: 25%;
}

.container .item:last-child {
    border-right: none;
}


.container .globe {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--text);
}

.container .globe img {
    height: 100%;
    max-height: 30vh;
    object-fit: scale-down;
}


.container .description {
    padding: 30px 20px;
    width: 40%;
}

.container .description p::first-line {
    color: var(--text-accent);
}

.description .table {
    margin: 0 auto;
    margin-top: 40px;
    width: 60%;
}

.description .table td {
    padding: 5px 10px;
    border: 1px solid var(--text);
    transition: all 250ms ease;
}

.description .table td:hover {
    background-color: blue;
}




@media (max-width: 700px) {
    .container {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .container .globe,
    .container .description,
    .container .item {
        width: 100%;
    }
}