.w-14 {
    width: 2.5rem;
}

.vmin-75 {
    height: 75vmin;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.h-card-img {
    height: 30vh !important;
}